
<html>
<head>
<title></title>
</head>
<body text="rgb(0,255,0)" bgcolor="rgb(255,255,255)"></body>
<marquee behavior=alternate>
<p>Mother theresa institutions</p>
</marquee behavior=alternate>
<marquee direction=right>
<p>this is the first day of training</p>
<marquee scrolldelay=120  direction=right></marquee>
<p>this is the first day of training</p>
<marquee scrolldelay=20  direction=left></marquee>
</marquee direction=right>

<pre>
       Happy                                                                                                                            

                  Birthday 

                                  To
                                
                                    You
</pre>
 
</html>